<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      QR Payment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Pay Bill</ion-card-subtitle>
      <ion-card-title> QR Payment </ion-card-title>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
    <ion-button expand="block" margin (click)="goToBarcodeScan()">Click to scan a barcode</ion-button>
    <div *ngIf="scannedData">
      <p>Scanned Bill: Pay it <a href="{{scannedData['text']}}">{{ scannedData["text"] }}</a></p>
    </div>
  </ion-card>
</ion-content>
